*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#addForm{
    max-width: 800px;
    padding: 20px;
    margin: 40px auto;
    border: 2px solid rgb(88, 84, 84);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(249, 246, 246);
}
#addForm input{
    padding: 3px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 170px;
    height: 30px;
}
#addForm button{
    padding: 3px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    background-color: rgb(220, 219, 219);
}
#addForm .field p{
    margin-bottom: 5px; 
}
#cardContainer{
    max-width: 800px;
    padding: 20px;
    margin: 40px auto;
    border: 2px solid rgb(88, 84, 84);
    display: flex;
    flex-direction: column;
    gap: 20px;   
}
.item{
    border: 2px solid rgb(152, 148, 148);
    border-radius: 5px;
    padding: 5px;
}